@model IEnumerable<MvcHwDay01.Models.BillingItemViewModel>
@using MvcHwDay01.Models.Extensions

@{
    ViewBag.Title = "記帳資料清單";
}

<h2>記帳資料清單</h2>

<p>
    @Html.ActionLink("新增記帳資料 >>", "Create", new { Controller="Bill", Area="" }, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th class="col-md-1">
            編號:#
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.BillTypeName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th class="col-md-6">
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th class="col-md-2">
        </th>
    </tr>

    @{
        int i = 0;
    }

    @foreach (var item in Model)
    {
        //將取得中文名稱的部份, 移到 View 執行
        item.BillTypeName = GlobalCodeMappings.BillTypes[item.BillType];
        <tr>
            <td>
                @(++i)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.BillTypeName)*@
                @BillingHelper.HightLightForBillType(item.BillTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @*//處理備註欄位內容過長, 導致表格破掉, 改用只取前 60 個字元, 再加 "..." 的方式*@
                @*@Html.DisplayFor(modelItem => item.Memo)*@
                @item.Memo.SubstringEx(0, 60)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                @Html.ActionLink("刪除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
