@model IEnumerable<MvcHwDay01.Models.BillingItemViewModel>

@{
    ViewBag.Title = "ListCurrent";
    int i = 0;
    Layout = null;
}

@*<h2>ListCurrent</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            編號:#
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        //將取得中文名稱的部份, 移到 View 執行
        item.BillTypeName = GlobalCodeMappings.BillTypes[item.BillType];
        <tr>
            <td>
                @(++i)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }) 
                @Html.ActionLink("刪除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
