@model MvcHwLib01.ViewModels.QueryViewModel
@using MvcHwDay01.Models.Extensions

@{
    ViewBag.Title = "QueryForAnotherLib";
}

<h2>QueryForAnotherLib</h2>

@using (Html.BeginForm("Query", "Bill", new { Area = "Admin" }, FormMethod.Post, new { @id = "frmQuery" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>BillQueryViewModel</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BillType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.BillType, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.BillType,
                                    (SelectList)ViewBag.BillTypes,
                                    new { htmlAttributes = new { @class = "form-control" } }
                    )
                @Html.ValidationMessageFor(model => model.BillType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @*<span class="input-group-addon">@Html.DisplayFor(model => model.StartDate)</span>
                <span class="input-group-addon">@Html.DisplayTextFor(model => model.StartDate)</span>*@
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @*<span class="input-group-addon">@Html.DisplayFor(model => model.EndDate)</span>
                <span class="input-group-addon">@Html.DisplayTextFor(model => model.EndDate)</span>*@
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="查詢" class="btn btn-primary" />
                <span></span>
                <input type="reset" value="取消" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

